numpy==1.18.5
Flask==1.1.2
transformers==2.11.0
requests==2.24.0
scipy==1.4.1
pydantic==1.5.1
sentence_transformers==0.2.6.1
beautifulsoup4==4.9.1
fastapi==0.58.1
pyLDAvis==2.1.2
scikit_learn==0.23.1
torch==1.5.1
python-multipart==0.0.5
